 <?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="instabug-cordova"
        version="9.1.7">

    <name>instabug-cordova</name>

    <description>Cordova plugin for integrating Instabug in your application.</description>

    <repo>https://github.com/Instabug/instabug-cordova</repo>

    <keyword>instabug, crash reports, in-app feedback</keyword>

    <license>Apache 2.0 License</license>

    <author>Elizabeth Rego , Hossam Hassan</author>

    <!-- cordova -->
    <engines>
        <engine name="cordova" version=">=3.7.0"/>
    </engines>

    <!-- dependencies -->

    <!-- js -->
    <js-module src="www/instabug.js" name="Instabug">
        <clobbers target="cordova.plugins.instabug"/>
    </js-module>
   <js-module src="www/bugReporting.js" name="BugReporting">
        <clobbers target="cordova.plugins.bugReporting"/>
    </js-module>
    <js-module src="www/featureRequests.js" name="FeatureRequests">
        <clobbers target="cordova.plugins.featureRequests"/>
    </js-module>
    <js-module src="www/surveys.js" name="Surveys">
        <clobbers target="cordova.plugins.surveys"/>
    </js-module>
    <js-module src="www/chats.js" name="Chats">
        <clobbers target="cordova.plugins.chats"/>
    </js-module>
    <js-module src="www/replies.js" name="Replies">
        <clobbers target="cordova.plugins.replies"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IBGPlugin">
                <param name="android-package" value="com.instabug.cordova.plugin.IBGPlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">

            <activity android:name="com.instabug.cordova.plugin.IBGPluginActivity"
                      android:launchMode="singleInstance"
                      android:theme="@android:style/Theme.NoDisplay"
                      android:configChanges="keyboardHidden|orientation|screenSize"/>

            <service android:name="com.instabug.library.network.worker.uploader.InstabugSessionUploaderService" />
            <service android:name="com.instabug.bug.network.InstabugBugsUploaderService" />
            <service android:name="com.instabug.crash.network.InstabugCrashesUploaderService" />
            <service android:name="com.instabug.library.network.worker.fetcher.InstabugFeaturesFetcherService" />
            <service android:name="com.instabug.survey.network.service.InstabugSurveysSubmitterService" />
            <service android:name="com.instabug.library.internal.video.VideoProcessingService"/>
            <service android:name="com.instabug.library.analytics.network.InstabugAnalyticsUploaderService"/>
            <service android:name="com.instabug.chat.network.InstabugMessageUploaderService"/>



        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.RECORD_AUDIO"/>
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
            <uses-permission android:name="android.permission.INTERNET"/>
        </config-file>

        <framework src="build.gradle" custom="true" type="gradleReference"/>

        <source-file src="src/android/IBGPluginActivity.java" target-dir="src/com/instabug/cordova/plugin"/>
        <source-file src="src/android/IBGPlugin.java" target-dir="src/com/instabug/cordova/plugin"/>
        <source-file src="src/android/MyApplication.java" target-dir="src/com/instabug/cordova/plugin"/>
        <source-file src="src/android/util/Util.java" target-dir="src/com/instabug/cordova/plugin/util"/>
        <hook type="before_plugin_install" src="scripts/android/before_plugin_install.js"/>
        <hook type="before_plugin_uninstall" src="scripts/android/before_plugin_uninstall.js"/>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="IBGPlugin">
                <param name="ios-package" value="IBGPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <framework src="src/ios/Instabug.framework" custom="true" embed="true" />
        <hook type="after_plugin_install" src="scripts/zStripScript.js" />
        <header-file src="src/ios/IBGPlugin.h" />
        <source-file src="src/ios/IBGPlugin.m" />
    </platform>

</plugin>
