version: 2.1

orbs:
  android: circleci/android@2.0

jobs:

   test_android:
    working_directory: ~/project
    executor:
      name: android/android-machine
      resource-class: xlarge
      tag: '2024.01.1'
    steps:
      - checkout:
          path: ~/project
      - run:
          name: Install Cordova CLI
          command: npm install -g cordova
      - run:
          name: Install Node Packages
          command: yarn
      - run:
          name: Compile TS Project
          command: yarn build
      - run:
          name: Install Android Platform
          working_directory: example
          command: cordova platform add android || true
      - run:
          name: Install Plugins
          working_directory: example
          command: cordova plugins add --link ../ tests
      - run:
          name: Install Build Tools v32.0.0
          working_directory: example
          command: sdkmanager "build-tools;32.0.0" 
      - android/start-emulator-and-run-tests:
          run-tests-working-directory: example/platforms/android
          system-image: system-images;android-32;google_apis;x86
          additional-avd-args: -d "Nexus 5"
          post-emulator-launch-assemble-command: cd example && cordova build android
          test-command: ./gradlew app:connectedAndroidTest
      - android/run-tests:
          working-directory: example/platforms/android
          test-command: ./gradlew test

   test_ios:
    working_directory: ~/project
    macos:
      xcode: 13.4.1
    steps:
      - checkout:
          path: ~/project
      - run:
          name: Install Cordova CLI
          command: npm install -g cordova
      - run:
          name: Install Node Packages
          command: yarn
      - run:
          name: Compile TS Project
          command: yarn build
      - run:
          name: Install iOS Platform
          working_directory: example
          command: cordova platform add ios || true
      - run:
          name: Install Plugins
          working_directory: example
          command: cordova plugins add --link ../ tests
      - run:
          name: Build iOS App
          working_directory: example
          command: cordova build ios
      - run:
          name: Run Tests
          working_directory: example/platforms/ios
          command: |
              xcodebuild -allowProvisioningUpdates \
                         -workspace InstabugExample.xcworkspace \
                         -scheme InstabugExample \
                         -sdk iphonesimulator \
                         -destination 'name=iPhone 12 Pro Max' \
                         test | xcpretty

   publish:
    macos:
      xcode: 13.4.1
    working_directory: "~"
    steps:
      - checkout:
          path: ~/project
      - run: git clone https://InstabugCI:$RELEASE_GITHUB_TOKEN@github.com/Instabug/Escape.git
      - run: cd Escape && swift build -c release
      - run: cd Escape/.build/release && cp -f Escape /usr/local/bin/escape
      - run: cd project && yarn
      - run: cd project && Escape cordova publish

workflows:
  version: 2
  build-test-and-approval-deploy:
    jobs:
      - test_android
      - test_ios
      - hold:
          type: approval
          requires:
            - test_android
            - test_ios
          filters:
            branches:
              only: master
      - publish:
          requires:
            - hold
          filters:
            branches:
              only: master
