<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="tests-example"
        version="1.0.0">

    <name>instabug-tests</name>
    <description>Injects unit and UI tests for android and iOS platforms in the example app.</description>

    <platform name="android">
        <framework src="src/android/tests.gradle" custom="true" type="gradleReference"/>
        <source-file src="src/android/test/IBGPluginTests.java" target-dir="../../test/java/com/instabug/example"/>
        <source-file src="src/android/androidTest/InvokeInstabugUITest.java" target-dir="../../androidTest/java/com/instabug/example"/>
        <source-file src="src/android/androidTest/WaitUntilVisibleAction.java" target-dir="../../androidTest/java/com/instabug/example"/>
    </platform>

    <platform name="ios">
        <!-- Adds UI and Unit Test Targets -->
        <hook type="after_prepare" src="scripts/xcode-project.js"/>
        
        <!-- Test Files -->
        <source-file src="src/ios/InstabugExampleTests/InstabugExampleTests.m" target-dir="../../../InstabugExampleTests"/>
        <source-file src="src/ios/InstabugExampleUITests/InvokeInstabugUITest.m" target-dir="../../../InstabugExampleUITests"/>
    </platform>
    
</plugin>
