html, body {
    margin: 0;
    padding: 0;
    background: #243143;
}

.second {
    padding: 20px 0;
    color: #f2f2f2;
}

.mylist ul {
    color: #f2f2f2;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.mylist ul li {
    margin: 10px;
    background: #bdbfc3;
    color: #405372;
    font-size: 18px;
    padding: 5px;
}

.iblogo {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}